.vue-checkbox-button,.vue-checkbox-button__inner {
	display: inline-block;
	position: relative;
}
.vue-checkbox-button.is-checked .vue-checkbox-button__inner {
	color: #fff;
	background-color: #409eff;
	border-color: #409eff;
	box-shadow: -1px 0 0 0 #409eff;
}
.vue-checkbox-button.is-disabled .vue-checkbox-button__inner {
	color: #bfcbd9;
	cursor: not-allowed;
	background-image: none;
	background-color: #eef1f6;
	border-color: #d1dbe5;
	box-shadow: none;
}
.vue-checkbox-button.is-focus .vue-checkbox-button__inner {
	border-color: #409eff;
}
.vue-checkbox-button:first-child .vue-checkbox-button__inner {
	border-left: 1px solid #bfcbd9;
	border-radius: 4px 0 0 4px;
	box-shadow: none!important;
}
.vue-checkbox-button:last-child .vue-checkbox-button__inner {
	border-radius: 0 4px 4px 0;
}
.vue-checkbox-button__inner {
	line-height: 1;
	vertical-align: middle;
	background: #fff;
	border: 1px solid #bfcbd9;
	border-left: 0;
	color: #1f2d3d;
	text-align: center;
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	cursor: pointer;
	padding: 10px 15px;
	font-size: 14px;
	border-radius: 0;
	white-space: nowrap;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.vue-checkbox-button__inner:hover {
	color: #409eff;
}
.vue-checkbox-button__inner [class*=vue-icon-] {
	line-height: .9;
}
.vue-checkbox-button__inner [class*=vue-icon-]+span {
	margin-left: 10px;
}
.vue-checkbox-button__original {
	display: none;
}
.vue-checkbox-button--large .vue-checkbox-button__inner {
	padding: 11px 19px;
	font-size: 16px;
	border-radius: 0;
}
.vue-checkbox-button--small .vue-checkbox-button__inner {
	padding: 7px 9px;
	font-size: 12px;
	border-radius: 0;
}
.vue-checkbox-button--mini .vue-checkbox-button__inner {
	padding: 4px;
	font-size: 12px;
	border-radius: 0;
}
