.vue-date-table {
	font-size: 12px;
	min-width: 224px;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.vue-date-table td {
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
}
.vue-date-table td.next-month,
.vue-date-table td.prev-month {
	color: #ddd;
}
.vue-date-table td.today {
	color: #409eff;
	position: relative;
}
.vue-date-table td.today:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-top: .5em solid #409eff;
	border-left: .5em solid transparent;
}
.vue-date-table td.event-date {
	position: relative;
}
.vue-date-table td.event-date:after {
	content: '';
	border: 1px solid #eb9e05;
	background-color: #eb9e05;
	border-radius: 50%;
	width: 2px;
	height: 2px;
	position: absolute;
	left: 19px;
	top: 25px;
}
.vue-date-table td.available:hover {
	background-color: #e4e8f1;
}
.vue-date-table td.in-range {
	background-color: #d2ecff;
}
.vue-date-table td.in-range:hover {
	background-color: #d2ecff Hover;
}
.vue-date-table td.current:not(.disabled),
.vue-date-table td.end-date,
.vue-date-table td.start-date {
	background-color: #409eff;
	color: #fff;
}
.vue-date-table td.disabled {
	background-color: #f4f4f4;
	opacity: 1;
	cursor: not-allowed;
	color: #ccc;
}
.vue-date-table td.week {
	font-size: 80%;
	color: #8391a5;
}
.vue-date-table th {
	padding: 5px;
	color: #8391a5;
	font-weight: 400;
}
.vue-date-table.is-week-mode .vue-date-table__row:hover {
	background-color: #e4e8f1;
}
.vue-date-table.is-week-mode .vue-date-table__row.current {
	background-color: #d2ecff;
}
.vue-date-range-picker {
	min-width: 520px;
}
.vue-date-range-picker table {
	table-layout: fixed;
	width: 100%;
}
.vue-date-range-picker .vue-picker-panel__body {
	min-width: 513px;
}
.vue-date-range-picker .vue-picker-panel__content {
	margin: 0;
}
.vue-date-range-picker.has-sidebar.has-time {
	min-width: 766px;
}
.vue-date-range-picker.has-sidebar {
	min-width: 620px;
}
.vue-date-range-picker.has-time {
	min-width: 660px;
}
.vue-date-range-picker__header {
	position: relative;
	text-align: center;
	height: 28px;
}
.vue-date-range-picker__header button {
	float: left;
}
.vue-date-range-picker__header div {
	font-size: 14px;
	margin-right: 50px;
}
.vue-date-range-picker__content {
	float: left;
	width: 50%;
	box-sizing: border-box;
	margin: 0;
	padding: 16px;
}
.vue-date-range-picker__content.is-right .vue-date-range-picker__header button {
	float: right;
}
.vue-date-range-picker__content.is-right .vue-date-range-picker__header div {
	margin-left: 50px;
	margin-right: 50px;
}
.vue-date-range-picker__content.is-left {
	border-right: 1px solid #e4e4e4;
}
.vue-date-range-picker__editors-wrap {
	box-sizing: border-box;
	display: table-cell;
}
.vue-date-range-picker__editors-wrap.is-right {
	text-align: right;
}
.vue-date-range-picker__time-header {
	position: relative;
	border-bottom: 1px solid #e4e4e4;
	font-size: 12px;
	padding: 8px 5px 5px;
	display: table;
	width: 100%;
	box-sizing: border-box;
}
.vue-date-range-picker__time-header>.vue-icon-arrow-right {
	font-size: 20px;
	vertical-align: middle;
	display: table-cell;
	color: #97a8be;
}
.vue-date-range-picker__time-picker-wrap {
	position: relative;
	display: table-cell;
	padding: 0 5px;
}
.vue-date-range-picker__time-picker-wrap .vue-picker-panel {
	position: absolute;
	top: 13px;
	right: 0;
	z-index: 1;
	background: #fff;
}
.vue-date-picker__header-label.active,
.vue-date-picker__header-label:hover {
	color: #409eff;
}
.vue-date-picker {
	min-width: 254px;
}
.vue-date-picker .vue-picker-panel__content {
	min-width: 224px;
}
.vue-date-picker table {
	table-layout: fixed;
	width: 100%;
}
.vue-date-picker.has-sidebar.has-time {
	min-width: 434px;
}
.vue-date-picker.has-sidebar {
	min-width: 370px;
}
.vue-date-picker.has-time {
	min-width: 324px;
}
.vue-date-picker__editor-wrap {
	position: relative;
	display: table-cell;
	padding: 0 5px;
}
.vue-date-picker__time-header {
	position: relative;
	border-bottom: 1px solid #e4e4e4;
	font-size: 12px;
	padding: 8px 5px 5px;
	display: table;
	width: 100%;
	box-sizing: border-box;
}
.vue-date-picker__header {
	margin: 12px 8px;
	text-align: center;
}
.vue-date-picker__header-label {
	font-size: 14px;
	padding: 0 5px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
}
.vue-date-picker__prev-btn {
	float: left;
}
.vue-date-picker__next-btn {
	float: right;
}
.vue-date-picker__time-wrap {
	padding: 10px;
	text-align: center;
}
.vue-date-picker__time-label {
	float: left;
	cursor: pointer;
	line-height: 30px;
	margin-left: 10px;
}
.vue-date-editor {
	position: relative;
	display: inline-block;
}
.vue-date-editor .vue-picker-panel {
	position: absolute;
	min-width: 180px;
	box-sizing: border-box;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.12),0 0 6px 0 rgba(0,0,0,.04);
	background: #fff;
	z-index: 10;
	top: 41px;
}
.vue-month-table td .cell,
.vue-year-table td .cell {
	width: 48px;
	height: 32px;
	display: block;
	line-height: 32px;
	color: #48576a;
	margin: auto;
}
.vue-month-table,
.vue-year-table {
	font-size: 12px;
	margin: -1px;
	border-collapse: collapse;
}
.vue-month-table td,
.vue-year-table td {
	text-align: center;
	padding: 20px 3px;
	cursor: pointer;
}
.has-time .vue-month-table td,
.has-time .vue-year-table td {
	text-align: center;
	padding: 20px 15px;
	cursor: pointer;
}
.vue-month-table td .cell:hover,
.vue-year-table td .cell:hover {
	background-color: #e4e8f1;
}
.vue-month-table td.disabled .cell,
.vue-year-table td.disabled .cell {
	background-color: #f4f4f4;
	cursor: not-allowed;
	color: #ccc;
}
.vue-month-table td.current:not(.disabled) .cell,
.vue-year-table td.current:not(.disabled) .cell {
	background-color: rgba(64, 158, 255, 1)!important;
	color: #fff;
}
.vue-year-table .vue-icon {
	color: #97a8be;
}
