.vue-ripple__container {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	z-index: 0;
	contain: strict
}
.vue-ripple__animation,
.vue-ripple__container {
	color: inherit;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	pointer-events: none
}
.vue-ripple__animation {
	border-radius: 50%;
	background: currentColor;
	opacity: 0;
	transition: .3s cubic-bezier(0,0,.2,1);
}
.vue-ripple__animation--enter {
	transition: none;
	will-change: transform,opacity
}
.vue-ripple__animation--visible {
	opacity: .5
}
